<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Users</title>

    <link href="webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="  collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="m-1 nav-item">
                <a class="text-white font-weight-bold" th:utext="${user.getEmail()}">Navbar</a>
            </li>
            <li class="m-1 nav-item">
                <a class="text-white">with roles:</a>
            </li>
            <li class="m-1 nav-item">
                <a class="text-white"><span th:each="role : ${user.getRoles()}"
                                            th:utext="${role.toString()}+'    '">Roles</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!-- 2 столбца -->
<div class="container-fluid vh-100">
    <div class="row h-100 ">
        <div class="col-md-2" style="padding-left: 0; padding-right: 0; padding-top: 20px;">
            <!-- Меню navBar слева для Admin и User -->
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>

            </div>
            <!-- Конец меню navBar слева для Admin и User -->
        </div>
        <div class="col bg-light" style="padding-top: 20px;">
            <!-- Содержимое navBar слева для Admin и User -->
            <div class="tab-content" id="v-pills-tabContent">

                <!-- Вкладка User -->
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h1>User information-page</h1>
                    <div class="card">
                        <h3 class="card-header">About user</h3>
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th> ID</th>
                                            <th> First Name</th>
                                            <th> Last Name</th>
                                            <th> e-mail</th>
                                            <th> Role</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:utext="${user.getId()}">name</td>
                                            <td th:utext="${user.getName()}">name</td>
                                            <td th:utext="${user.getLastName()}">lastName</td>
                                            <td th:utext="${user.getEmail()}">e-mail</td>
                                            <td><span th:each="role : ${user.getRoles()}"
                                                      th:utext="${role.toString()}+'   '">Roles</span></td>
                                            <td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Конец содержимого navBar слева для Admin и User -->
        </div>
    </div>
</div>
<!-- Конец двух столбцов -->
<script src="webjars/jquery/3.5.1/jquery.js"></script>
<script src="webjars/popper.js/1.16.0/umd/popper.js"></script>
<script src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>

<script src="/js/user.js"></script>

</body>
</html>